* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_services {
    padding: 0 50px;
    margin: 50px 0;
}

.location_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    margin: 0 0 20px 0;
    padding: 40px 150px 40px 60px;
    border-radius: 13px;
    /* width: 100%; */
}

.white_info {
    display: none;
}

.location_name:hover {
    background-color: #ff6400;
    color: white;

}

.info_amount {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.info_amount img {
    width: 40px;
    margin-left: 5px;
}

.info_amount span {
    font-size: 13px;
    margin: 0 0 0 5px;
    color: gray;
    font-weight: 600;
}

.location_name:hover span {
    color: white;
    font-weight: 600;
}

.note_service {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    background-color: #ff6400;
    color: white;
    border-radius: 12px;
}

.note_service img {
    width: 30px;
    margin-right: 5px;

}

@media(max-width:1100px) {
    .location_name {
        padding: 40px 100px 40px 60px;
    }
}

@media(max-width:950px) {
    .location_name {
        padding: 40px 70px 40px 60px;
    }

    .location_name p {
        font-size: 14px;
    }

    .location_name img {
        width: 30px;
    }
}

@media(max-width:710px) {
    .location_name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
    }

    .location_name h3 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .info_amount {
        margin-top: 10px;
    }

    .main_services {
        padding: 0;
    }
}