* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home_container {
    margin: 30px 0;
}

.Home_container_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
}

.Home_container_info div {
    padding: 40px 60px;
    text-align: center;
    background-color: #fafafa;
    border-radius: 15px;
}

.Home_container_info span {
    font-weight: 700;
    font-size: 52px;
    line-height: normal;
    color: #ff6400;
    margin-top: 15px;
}

.Home_container_info h3 {
    font-weight: 600;
    margin-bottom: 20PX;
}

.Home_container_info button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 46px;
    padding: 15px 40px;
    background-color: #ff6400;
    border-radius: 30px;
    font-size: 14px;
    margin-top: 40px;
    border: none;
    color: white;
    font-weight: 560;
}


.Home_container_ucard {
    display: flex;
    background-color: #fafafa;
    border-radius: 15px;
    margin: 80px 0 80px 15px;
}

.Home_ucard_buttons div:last-child {
    display: flex;
}

.Home_container_ucard h2 {
    font-family: CocoSharp, Arial;
    font-weight: 800;
    font-size: 28px;
    color: #ff6400;
    margin: 0 0 20px;
}

.Home_ucard_info {
    font-weight: 400;
    font-size: 14px;
    color: #252525;
    line-height: 1.43;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 60px;
}

.ucard {
    display: flex;
    position: relative;
    top: -80px;
}

.Home_ucard_buttons {
    display: flex;
    margin: 40px 0 0;
}

.Home_ucard_buttons button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    margin: 0 20px 0 0;
    border-radius: 30px;
    font-weight: 600;
    border: none;
}
.Home_ucard_info p{
    color: black;
}
.ucard_button1 {
    background-color: #ff6400;
    color: white;
}

.ucard_button2,
.ucard_button3 {
    background-color: #ffffff;
    border-color: rgb(172, 172, 172);
}


.Home_appbar button {
    background-color: #ff6400;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 50px;
}

.Home_appbar {
    display: flex;
    background-color: #fafafa;
    margin: 40px 0 0 15px;
    border-radius: 15px;
    padding: 0 70px;
}
.Home_appbar div p{
    color: black;
}
.phone_logo {
    display: flex;
    position: relative;
    bottom: 100px;
}

.Home_appbar div:first-child {
    margin: 60px 0 0;
}

.Home_appbar h1 {
    color: #ff6400;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
}



.Exchange_price {
    display: flex;
    justify-content: space-between;
}

.Exchange_price img {
    width: 20px;
}

.Home_container_exchange {
    padding: 30px 50px;
    margin: 40px 0 0 15px;
    background-color: #fafafa;
    border-radius: 15px;
    width: 100%;
}

.Home_container_exchange h1 {
    color: #ff6400;
    margin: 0 0 50px;
    font-weight: 700;
}

.Home_exchange_table p:first-child {
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 18px;
}

.Home_exchange_table .update {
    color: gray;
    font-size: 13px;
    margin-left: 20px;
}

.Home_exchange_table table {
    margin-top: 30px;
    font-size: 13px;
    font-weight: 600;
}

.Home_exchange_table th {
    color: gray;
    font-weight: 200;
    font-size: 14px;
    text-align: start;
    margin-right: 20px;
}

.Home_exchange_table table {
    border-spacing: 20px;
}

.Exchange_table {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 50px 40px;
    margin: 30px 10px;
    box-shadow: 0.1px 0.1px 1px gray;
    border-radius: 15px;
}

.Exchange_input_container {
    display: flex;
    border: solid rgb(235, 234, 234, 0.5);
    margin: 0 0 0 100px;
}

.Exchange_result {
    display: flex;
    align-items: center;
}

.Exchange_input {
    display: flex;
    align-items: center;
}

.Exchange_input input {
    height: 50px;
    border: none;
    padding: 0 10px;
}

.Exchange_input input:hover {
    border: none;
}

.Exchange_calculator p:first-child {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 5px;
}

.Exchange_calculator p:last-child {
    font-size: 13px;
    color: gray;
}

.Exchange_result span {
    margin-right: 10px;
}

.Arrow_exchange {
    width: 15px;
    margin: 0 0 0 10px;
    color: lightgray;
}

.responsive_buttons {
    display: none;
}

.responsive_buttons button {
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    background-color: #fafafa;
    color: gray;
    border-color: rgb(173, 172, 172);
    font-weight: 600;
}



.Front_news {
    display: flex;
    margin: 30px 0;
    justify-content: space-between;
}

.Front_news div {
    /* margin: 0 5px 0 0; */
    background-color: #fafafa;
    padding: 30px 40px 10px;
    border-radius: 15px;
    width: 35%;
}

.Front_news div:nth-child(2) {
    margin-inline: 30px;
}

.Front_news p {
    margin-bottom: 20px;
    line-height: 25px;
}

.Front_news p:first-child {
    font-weight: 700;
    color: #ff6400;
    font-size: 18px;
}

.Front_news p:nth-child(2),
.Front_news p:last-child {
    color: rgb(134, 132, 132);
    font-size: 15px;
}

.News_button {
    display: flex;
    justify-content: center;
}

.News_button button {
    color: white;
    font-weight: 700;
    border: none;
    background-color: #ff6400;
    width: 160px;
    height: 52px;
    border-radius: 30px;
}

.info_container_home {
    display: flex;
    margin-top: 20px;
}

.info_container_home div {
    background-color: #fafafa;
    border-radius: 13px;
    padding: 30px 15px 30px;
}

.info_container_home div:first-child {
    margin-right: 30px;
    width: 85%;
}

.info_container_home div:last-child {
    padding-top: 60px;
}

.info_container_home h2 {
    color: #ff6400;
    font-size: 25px;
}

.info_container_home p {
    color: rgb(134, 132, 132);
    margin: 15px 0 30px;
}

.info_container_home button {
    background-color: #ff6400;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    margin-top: 20px;
}

.container_atm {
    display: flex;
}



@media(max-width:1200px) {
    .Home_container_info div {
        padding: 35px 40px;
    }

    .Home_container_ucard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .phone_logo img {
        width: 500px;
    }

    .Front_news div {
        padding: 30px 20px 10px;
        width: 30vw;
    }
}


@media(max-width:1000px) {
    .Home_container_info {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .Home_container_info div {
        padding: 35px 130px;
        margin-bottom: 30px;
        margin-right: 10px;
    }

    .Home_container_info p {
        font-size: 12px;
    }

    .Home_container_info span {
        font-size: 30px;
    }

    .Home_container_info h3 {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .Home_container_info button {
        width: 120px;
        height: 46px;
        padding: 15px 30px;
        font-size: 14px;
        margin-top: 40px;
    }

    .ucard img {
        width: 500px;
    }

    .Home_appbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin: 10px 0 0; */
    }

    .phone_logo {
        margin-top: 100px;
    }

    .Home_appbar h1 {
        color: #ff6400;
        font-weight: 900;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .Home_appbar p {
        font-size: 14px;
        color: black;
    }

    .Exchange_price .container2,
    .container3 {
        display: none;
    }

    .Home_exchange_table p:first-child {
        display: none;
    }

    .container1 table {
        width: 80vw;
    }

    .responsive_buttons {
        display: flex;
    }

    .Front_news {
        flex-direction: column;
        width: 100vw;
    }

    .Front_news div {
        width: 95vw;
        margin-bottom: 20px;
    }

    .Front_news div:nth-child(2) {
        margin-inline: 0px;
    }

    .info_container_home {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .info_container_home div {
        background-color: #fafafa;
        border-radius: 13px;
        padding: 30px 15px 30px;
        width: 700px;
    }
}


@media(max-width:840px) {
    .Home_container_info div {
        padding: 35px 70px;
    }

    .ucard img {
        width: 300px;
    }

    .phone_logo img {
        width: 400px;
    }
}

@media(max-width:600px) {
    .Home_container_info div {
        padding: 25px 40px;
    }

    .Home_container_info p {
        font-size: 12px;
    }

    .Home_container_info button {
        margin-top: 20px;
    }

    .Home_ucard_info {
        padding-inline: 40px;

    }

    .Home_ucard_buttons {
        display: flex;
        flex-direction: column;
    }

    .Home_ucard_buttons .ucard_button1 {
        width: 250px;
        margin-bottom: 10px;
    }

    .Home_ucard_buttons div {
        display: flex;
    }

    .Home_container_ucard h2 {
        font-size: 20px;
    }

    .Home_ucard_info p {
        font-size: 13px;
    }

    .phone_logo img {
        width: 300px;
    }

    .Home_appbar {
        padding-inline: 30px;
    }

    .Home_appbar p {
        font-size: 12px;
    }

    .Home_appbar button {
        padding: 12px 35px;
        margin-top: 30px;
    }

    .Home_container_exchange h1 {
        font-size: 25px;
    }

    .container1 table {
        width: 75vw;
    }

    .responsive_buttons button {
        padding: 7px 15px;
    }

    .Home_container_exchange {
        padding: 30px 30px;
    }

    .Front_news p:first-child {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .Front_news p:nth-child(2),
    .Front_news p:last-child {
        color: rgb(134, 132, 132);
        font-size: 13px;
        margin-bottom: 5px;
    }
}

@media(max-width:440px) {
    .Home_container_info div {
        padding: 10px;
    }

    .Home_container_info button {
        width: 120px;
        height: 40px;
    }

    .ucard img {
        width: 300px;
    }

    .phone_logo img {
        width: 250px;
    }

    .Home_appbar button {
        padding: 11px 33px;
        margin-top: 20px;
    }

    .container1 table {
        font-size: 10px;
    }

    .News_button button {
        width: 140px;
        height: 50px;
    }
}